/* FONTS */


/* GENERICS */

body {
  font-family: 'Merriweather Variable', serif;
  background-color: rgb(55, 54, 54);
}

main {
    background-color: white;
}




/* UTILITY */


/*--------HEADER--------*/

header {
    background-color: rgb(66, 46, 6);
}

h1 {
    font-size: 50px;
    color: white;
}



/*--------MAIN--------*/

.add-movies-form {
    display: flex;
}